#root{
    height: 100%;
}
html,
body{
    margin: 0;
    height: 100%;
}
main{
    height: 100%;
    display: flex;
    background-color: #1C2733;
}
.app-nav{
    box-shadow: 1px 0px 4px rgb(21, 21, 21);
    width: 220px;
    background-color: #202D3C;
}
.app-nav > h1{
    text-align: center;
}
.nav-items{
    display: flex;
    flex-direction: column;
}
.nav-option{
    color: rgb(208, 208, 208);
    background-color: #233142;
    font-weight: 600;
    font-size: 1rem;
    border: none;
    box-shadow: 0 0 1px black;
    height: 40px;
}
.nav-option:hover{
    background-color: #202D3C;
}

/* *************** */
/* CALENDAR STYLES */
/* *************** */
.this-app{
    color: white;
    width: 100%;
    display: flex;
}
.this-app > h1{
    margin: auto;
}