#root{
    height: 100%;
}
html,
body{
    margin: 0;
    height: 100%;
}
main{
    height: 100%;
    display: flex;
    background-color: #1C2733;
    overflow: hidden;
}
.app-nav{
    flex-shrink: 0;
    width: 220px;
    color: whitesmoke;
    background-color: #202D3C;
    box-shadow: 1px 0px 4px rgb(21, 21, 21);
}
.app-nav > h1{
    text-align: center;
}
.nav-items{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav-btn{
    color: rgb(208, 208, 208);
    background-color: #233142;
    font-weight: 600;
    font-size: 1rem;
    border: none;
    border-radius: 10px;
    margin: 0 0 10px 0;
    box-shadow: 0 0 1px black;
    width: 80%;
    height: 40px;
}
.nav-btn:hover{
    background-color: #202D3C;
    cursor: pointer;
}

/* *************** */
/* CALENDAR STYLES */
/* *************** */
.this-app{
    color: white;
    width: 100%;
    display: flex;
}
.this-app > h1{
    margin: auto;
}